.jasons-formal{
    .button-row{
        text-align:center;
        margin: 1em 0;
        button {
            margin: 0 4px;
        }
    }

    input.checkbox.form-control {
        box-shadow: none;
    }
    fieldset legend{
        text-align:left;
        color:#636b6f;
            padding-left: 30px;
    }

    form fieldset{
        fieldset {
            fieldset{

            }
        }

        fieldset.list{
            & > legend {

            }
        }
    }

    .dropdown-menu > li > a {
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .list .list-item > div > fieldset legend {
        border-bottom: none;
        font-size: 1em;
        margin-bottom: 0;
        text-align: center;
        color:#636b6f;
        font-weight:bold;
    }

    form > fieldset > fieldset{
            margin-bottom: 30px;
    }

    .rw-list-empty, .rw-list-option, .rw-list-optgroup {
        padding: 0.5em 0.75em;
        outline: 0;
    }
    .hide-button {
        max-width: 300px;
    }
    .text-center .hide-button {
            margin: 0 auto;

    }
    .hide-button .rw-dropdown-list > .rw-widget-input.rw-widget-picker.rw-widget-container {
        display: none;
    }
    .rw-list-option.rw-state-focus, .rw-list-option.rw-state-focus:hover {
         border: none;
    }
    .rw-dropdown-list{
        text-align: left;
    }

    .rw-list-option.highlight{
        font-weight: bold;
        border-top: 1px solid $popup-border;
    }

}