@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/close";


$brand-primary: #435b4c;
$navbar-default-bg: #435b4c;
 $navbar-default-border: #435b4c;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-border-radius: 0;


@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

$font-path: '~react-widgets/lib/fonts';
$img-path: '~react-widgets/lib/img';
@import "~react-widgets/lib/scss/react-widgets";



@import "loading";

html {
    position: relative;
    min-height: 100%;
}

.preview{
    canvas{
        width:100%;
        position: relative;
        background-color: #fff;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        // huge increase in perf
            transform: translate3d(0, 0, 0);
    }
}


.button-row{
    text-align:center;
    margin: 1em 0;
    button {
        margin: 0 4px;
    }
}

input.checkbox.form-control {
    box-shadow: none;
}

.actionable {
    cursor: pointer;
}
.icon-action-page{
    .select-button {
        @extend .col-sm-6;
        display: block;
        padding: 10px;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
        background-color: $gray-lighter;
        border: 8px solid #fff;;
        border-radius:4px;
        &.disabled{
            color: #ccc;
        }
        &.actionable:hover{
            background-color: $brand-primary;
            color:white;
            transition: background-color 0.5s ease,
                        color 0.5s ease;
        }
        .glyphicon, .fa {
            margin-top: 16px;
            margin-bottom: 10px;
            font-size: 50px;
        }
        .transaction-button-text{
            display: block;
            text-align: center;
            word-wrap: break-word;
            font-size:16px;
        }
    }
}

.icon-action-page:after{
    clear:both;
    content: " ";
    display: table;
}

.icon-action-page-sml{
    .glyphicon, .fa {
        margin-right:10px;
        margin-left:10px;
        margin-bottom:4px;
        font-size: 24px;
        vertical-align: middle;
        width: 25px;
        text-align: center;
    }
    .transaction-button-text{
        vertical-align: middle;
        line-height: 24px;
    }
}

form fieldset{
    fieldset {
        fieldset{

        }
    }

    fieldset.list{
        & > legend {
                font-size: 1em;
            text-align: center;
                font-style: italic;
        }
    }
}

.dropdown-menu > li > a {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
